* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MS Sans Serif";
  font-size: 11px;
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

div.title {
  height: 18px;
  width: 600px;
  background: #000080;
  color: #fff;
}

h1.title {
  margin: 2px 0 0 1px;
  float: left;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 11px;
}

.title button {
  margin: 2px 2px 2px 0;
  float: right;
  width: 14px;
  height: 13.5px;
  background: #c0c0c0;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 0;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 150px;
  width: 75%;
  background-color: #008080;
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
  height: 800px;
  position: relative;
}

.desktop-box {
  margin-bottom: 50px;
}

.desktop-text {
  font-size: 9px;
  font-family: Tahoma;
}

.desktop-icon {
}

.taskbar {
  width: 900px;
  height: 20px;
  background-color: #c0c0c0;
  border-color: #ffffff #808080 #808080 #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.taskbar-start,
.taskbar-time {
  margin: 2px 2px 2px 0;
  float: right;
  width: 50px;
  height: 16px;
  background: #c0c0c0;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 0;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.ie {
  width: 32px;
}

.windows {
  position: absolute;
  left: 100px;
}

.hidden {
  display: none;
}

.start-img {
  margin-top: 488px;
  margin-left: -100px;
  width: 60%;
}

.mycomputer-img,
.recyclebin-img,
.ie-img {
  position: absolute;
}

.ie-img {
  top: 100px;
}
